.deps/
.libs/

*~
/ABOUT-NLS
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/backup.tgz
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
