*.o
*.lo
/Makefile
/Makefile.in
/libManuProC_Widgets.la
/libManuProC_Widgets.rc
/logwin.hh
TeX.cc
ChoiceButton.cc
Gtk_OStream_label.cc
Gtk_OStream.cc
doublebutton.c
Gtk_OStream_TreeView.cc
gtkhacks.cc
expander_hook.c
Gtk_OStream_stream.cc
Gtk_OStream_optionmenu.cc
gtksearchcombo.c
SearchCombo.cc
logwin.hh
DoubleButton.cc
Gtk2TeX.cc
/datewin.hh
